asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
crispy-bootstrap5==2024.10
Django==5.1.2
django-autoslug==1.9.9
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-js-asset==2.2.0
django-modeltranslation==0.19.2
django-mptt==0.16.0
django-rosetta==0.10.1
idna==3.10
pillow==11.0.0
polib==1.2.0
requests==2.32.3
ruff==0.0.292
sqlparse==0.5.1
urllib3==2.2.3
