{% extends 'base.html' %}
{% load static %}

{% block title %} Phone Info {% endblock %}

{% block content %}
            <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Shop Detail</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Shop Detail</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Single Product Start -->
        <div class="container-fluid py-5 mt-5">
            <div class="container py-5">
                <div class="row g-4 mb-5">
                    <div class="col-lg-8 col-xl-9">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="border rounded">
                                    <a href="#">
                                        <img src="{{ smartphone.imageUrl }}" class="img-fluid rounded" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="fw-bold mb-3">{{ smartphone.name }}</h4>
                                <p class="mb-3">Brand: {{ smartphone.brand.name }}</p>
                                <h5 class="fw-bold mb-3">{{ smartphone.price }} ₾</h5>
                                <div class="d-flex mb-4">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>

                                {% if smartphone.quantity %}
                                    <p>Qty: {{ smartphone.quantity }} </p>
                                    <form action="{% url 'order:add_to_cart' %}" method="post" class="border border-primary p-3 rounded " style="width: 200px">
                                        {% csrf_token %}
                                        <div class="input-group quantity mb-4 m-auto" style="width: 120px;">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" name="quantity" class="form-control form-control-sm text-center border-0" value="1">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <input type="hidden" name="product" value="{{ smartphone.id }}">
                                        <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
                                    </form>
                                {% else %}
                                    <p>Qty: <span style="color: darkred">out of stock</span> </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="row g-4 fruite">
                            <div class="col-lg-12">
                                <div class="input-group w-100 mx-auto d-flex mb-4">
                                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                                </div>
                                <div class="mb-4">
                                    <h4>Brands</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        {% for brand in brands %}
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a href="#"><i class="fas fa-apple-alt me-2"></i>{{ brand.name }}</a>
                                                    <span>({{ brand.model_count }})</span>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="fw-bold mb-0">Related products</h1>
                <div class="vesitable">
                    <div class="owl-carousel vegetable-carousel justify-content-center">
                        {% for smartphone in smartphones %}
                            <div class="border border-primary rounded position-relative vesitable-item">
                                <a href="{% url 'core:phone_detail' slug=smartphone.slug %}">
                                    <div class="vesitable-img">
                                        <img src="{{ smartphone.imageUrl }}" class="img-fluid w-100 rounded-top" alt="">
                                    </div>
                                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">{{ smartphone.brand }}</div>
                                    <div class="p-4 pb-0 rounded-bottom">
                                        <h4 style="height: 120px">{{ smartphone.name }}</h4>
                                        <div class="d-flex flex-column flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0">${{ smartphone.price }}</p>
                                            <form action="{% url 'order:add_to_cart' %}" method="post" >
                                                {% csrf_token %}
                                                <input type="hidden" name="product" value="{{ smartphone.id }}">
                                                <input type="hidden" name="quantity" value="1">
                                                <button type="submit" class="btn {% if not smartphone.quantity %} disabled {% endif %} border border-secondary rounded-pill px-3 text-primary w-100 mb-3"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Product End -->

{% endblock %}