{% extends 'base.html' %}
{% load static %}

{% block title %} SmartPhones {% endblock %}

{% block content %}

        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Shop</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Shop</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <h1 class="mb-4">Smartphones</h1>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <form class="col-xl-3" action=".">
                                <div class="input-group w-100 mx-auto d-flex">
                                    <input type="search" class="form-control p-3" placeholder="search" aria-describedby="search-icon-1" name="q" value="{{ search_query|default_if_none:'' }}">
                                    <button type="submit" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                            <div class="col-xl-6 p-3 d-flex flex-column-reverse">
                                <div >
                                    {% if search_query %}
                                        <h6>{{ total }} products found by "<span style="color: darkred">{{ search_query }}</span>" search keywords</h6>
                                    {% else %}
                                        <h5>{{ total }} products on {{ smartphones.paginator.num_pages }} pages</h5>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                    <label for="fruits">Default Sorting:</label>
                                    <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                        <option value="volvo">Nothing</option>
                                        <option value="saab">Popularity</option>
                                        <option value="opel">Organic</option>
                                        <option value="audi">Fantastic</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4>Brands</h4>
                                            <ul class="list-unstyled fruite-categorie">
                                                {% for brand in brands %}
                                                    <li>
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="{% url 'core:brand_products' brand_slug=brand.slug %}"><i class="fas fa-apple-alt me-2"></i>{{ brand.name }}</a>
                                                            <span>({{ brand.model_count}})</span>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4>Categories</h4>
                                            <ul class="list-unstyled fruite-categorie">
                                                {% for category in categories %}
                                                    <li>
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="{% url 'core:category_products' category_slug=category.slug %}">{{ category.name }}</a>
                                                            <span>({{ category.model_count}})</span>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <form action="." class="border border-info p-4 rounded">
                                        <div class="col-lg-12 mb-5">
                                            <div class="mb-3">
                                                <h4 class="mb-2">Price</h4>
                                                <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="5000" value="500" oninput="amount.value=rangeInput.value">
                                                <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <h4>Tags</h4>
                                                {% for tag in tags %}
                                                    <div class="mb-2">
                                                        <input type="radio" class="me-2" id="{{ tag.name }}" name="tag-name" value="{{ tag.name }}">
                                                        <label for="{{ tag.name }}">{{ tag.name }}</label>
                                                    </div>
                                                {% endfor %}
                                                <button type="submit" class="btn btn-primary border border-secondary rounded-pill px-4 text-white mt-2 ">Filter</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row g-4 justify-content-center">
                                    {% for smartphone in smartphones %}
                                        <div class="col-md-6 col-lg-6 col-xl-4">
                                            <a href="{% url 'core:phone_detail' slug=smartphone.slug %}">
                                                <div class="rounded position-relative border border-secondary fruite-item">
                                                    <div class="fruite-img d-flex justify-content-center">
                                                        <img src="{{ smartphone.imageUrl }}" class="img-fluid rounded-top" style="height: 180px" alt="">
                                                    </div>
                                                    {% if smartphone.tags.all|length > 0 %}
                                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{% for tag in smartphone.tags.all %}{{ tag }}{% endfor %}</div>
                                                    {% endif %}
                                                    <div class="p-4 border-top-0 rounded-bottom">
                                                        <h4 style="height: 120px">{{ smartphone.name }}</h4>
                                                        <div class="d-flex flex-column flex-lg-wrap">
                                                            <p class="text-dark fs-5 fw-bold mb-0">${{ smartphone.price }}</p>
                                                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                    {% if total > 0 %}
                                        {% include 'partials/paginator.html' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fruits Shop End-->

{% endblock %}